<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark justify-content-between">
    <div class="menu-logo-area">
        <a class="navbar-brand" href="">
            <img src="/resources/images/img_logo.png" alt="" class="d-block menu-logo">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </div>

    <!-- Navbar-->
    <div class="login-info-area">
        <span>최고관리자님 어서 오세요.</span>
        <button class="btn type03">로그아웃</button>
    </div>
</nav>