<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" class="fixed has-top-menu">

<body>

<head th:fragment="fragment-header">

    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="/resources/css/styles.css" rel="stylesheet" />
    <link href="/resources/css/common.css" rel="stylesheet"/>
    <link href="/resources/css/admin.css" rel="stylesheet"/>
</head>

